[phases.setup]
nixPkgs = ["nodejs-20_x", "npm"]

[phases.install]
cmds = [
  "npm ci"
]

[phases.build]
cmds = [
  "npx prisma generate",
  "npm run build",
  "chmod +x start.sh",
  "ls -la dist/"
]

[start]
cmd = "sh start.sh"
